*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Additional
old
backup
unused
!bin
!lib
cdk.json
cdk.context.json
package-lock.json
!scripts
!scripts/build
